<h3>Frete</h3>
<form action="" id="frete-form">
	<div>
  	<label for="local">Retirar na loja</label><br>
  	<input type="radio" name="frete" value="local" checked>
	</div>
	<div>
	  <label for="">Tele-entrega(+ R$10,00)</label><br>
  	<input type="radio" name="frete" value="tele">
	</div>
</form>
