
<h3>Métodos de pagamento</h3>
<form id="payment-methods">
	<div>
		<img alt=""><br>
    <label for="boleto">Boleto</label><br>
    <input type="radio" id="boleto" name="pay_type" value="Boleto">
	</div>
	<div>
		<img alt=""><br>
  	<label for="credit_card">Cartão de crédito</label><br>
    <input type="radio" id="credit-card" name="pay_type" value="Cartão de crédito">
	</div>
	<div>
		<img alt=""><br>
  	<label for="transfer">Transferência bancária</label><br>
  	<input type="radio" id="transfer" name="pay_type" value="Depósito">
	</div>
</form>
