
<h3>Métodos de pagamento</h3>
<form id="payment-methods">
	<div>
		<img alt="">
    <label for="boleto">Boleto</label>
    <input type="radio" id="boleto" name="pay_type" value="Boleto">
	</div>
	<div>
		<img alt="">
  	<label for="credit_card">Cartão de crédito</label>
    <input type="radio" id="credit-card" name="pay_type" value="Cartão de crédito">
	</div>
	<div>
		<img alt="">
  	<label for="transfer">Transferência bancária</label>
  	<input type="radio" id="transfer" name="pay_type" value="Tramsferência bancária">
	</div>
</form>
