<div id="document-types-form-container">
	<form action="" id="document-types-form">
		<div>
	  	<label for="local">Pessoa Física</label><br>
	  	<input type="radio" name="pessoa" value="fisica" checked>
		</div>
		<div>
		  <label for="">Pessoa Jurídica</label><br>
	  	<input type="radio" name="pessoa" value="juridica">
		</div>
	</form>
</div>