<h1>New Payment</h1>

<%= render 'form' %>

<!-- <#%= link_to 'Cartão de Crédito', order_payments_new_credit_card_path(@order) %> -->

<!-- <script type="text/javascript" src="/javascripts/lib/pagsegurotest.js"></script> -->