<form name="boleto_form" action="" id="boleto-form">
	<input type="text" name="name" id="name" value="Guilherme Bordignon" required>
  <input type="text" name="cpf" id="cpf" value="03310782018" required>
  <input type="submit" name="buy_button" id="buy-button" value="Comprar">
</form>