

#frete-form {
	display: flex;
	justify-content: space-between;
	div {
		text-align: center;
	}
}

#payment-methods {
	display: flex;
	justify-content: space-between;
	div {
		text-align: center;
	}
}

#product-form {
	#img-upload {
			label {
				display: block;
				border: 1px solid black;
				cursor: pointer;
				padding: 5px;
				cursor: pointer;
				width: 200px;
			}
			.img-input {
				display: none;
			}
			.preview {
				width: 300px;
			}
	}
}


#sign-forms {
	width: 720px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.product-show-image {
	width: 300px;
}

.catalog {
	.catalog-img {
		width: 300px;
	}
}